
body {
   	background-image: url("../img/linen.png");
   	background-repeat: repeat;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    padding: 0;
    margin: 0 auto; /* Centering body */
    color: grey;
}

*{
	margin: 0;
	padding: 0;
}
a:active, a:visited, a:link {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: grey;
    transition: all 0.5s ease-in-out;
}

header {
    background-color: pink;
}

h1 {
    float: left;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    font-weight: normal;
    font-size: 200%;
    font-family: "Courier New", Courier, monospace;
    padding-left: 20%;
    line-height: 200%;
}

h1 a:hover {
	color: inherit;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

nav li {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 20px 10px;
    text-transform: uppercase;
}

h2 {
	color: pink;
	font-family: Roboto;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}

h3 {
	margin-top: 20px;
}

nav, footer {

    border-width:1px 0;
    list-style:none;
    text-align:center;
    background-color: pink;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logos {
    margin-left: 100px;
}

#logos li {
    height: 100%;
    float: left;
}

#validators {
    margin-right: 10px;
    font-weight: bold;
}

main {
    text-align: left;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

#cb {
  color: pink;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.2em;
}

img {
	width: 100%;
	height: 100%;
}

#main_ol {
	margin: 15px 0;
	padding-left:40px;
	line-height: 150%;
	list-style-position: inside;
}

#main_ol li a:hover, .hover a:hover {
    color: pink;
}


figure  {
    border:1px solid lightgrey;
    float: right;
    text-align: left;
    padding: 10px;
	width: 40%;
	height: 50%;
	background-color: white;
}

figure dt {
    font-weight: bold;
    line-height: 100%;
    margin-top: 20px;
}

figure dd {
	margin: 0 0 10px 0;
	text-indent: 20px;
}

.img_source {
    font-size: 12px;
    text-align: right;
}

.img_source a:hover {
    color: pink;
}

.step {
    width: 300px;
    margin: 10px;
}

input[type=radio] + label {
    display:inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/star_grey.png) left center no-repeat;
}

.stars {
	display: none;
}

.ratingForm {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-size: 20px;
}

.ratingForm img {
	width: 30px;
	height: 30px;
}

.ratingForm span {
	color: pink;
	margin-left: 10px;
}

#method { /* ol */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    counter-reset: item;
    list-style: none;
}

#method li {
    flex-grow: 1;
    flex-basis: 0;
    list-style-position:inside;
    margin: 20px;
}

#method li:before {
    content: counter(item) "  ";
    counter-increment: item;
    color: #003300;
    font-family: Roboto;
    font-weight: bold;
}

#method img {
    margin: 0;
    padding-bottom: 20px;
}

#ingredients {
    margin: 10px;
    line-height: 200%;
    list-style-image: url("../img/recipe/check.png");
}

#ingredients li {
    list-style-position: inside;
}

#select_a_portion, #selectedPortion {
	margin: 10px;
}

#recipe_above {
	display: inline-block;
	width: 100%;
}

footer {
    clear: both;
    color: white;
}

footer li {
    list-style-type: none;
    display: inline-block;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('../font/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('../font/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../font/roboto_thin_macroman/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@media (max-width: 900px) {
	body {
		background: none;
	}

	header, nav, footer {
		background-color: #62a5a1;
	}

	h2, #cb, .ratingForm span  {
		color: #62a5a1;
	}
}