body {
	background-image: url("img/linen.png");
	background-repeat: repeat;
    font-family: Verdana, Geneva, sans-serif;
    position: relative;
    width: 50%;
    padding: 0;
    margin: 0 auto; /* Centering body */
    color: grey;
}

*{
	margin: 0;
	padding: 0;
}

a:active, a:visited, a:link {
	color: inherit;
    decoration: none;
    text-decoration: none;
}

a:hover {
	color: pink;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header {
    background-color: yellow;
}

h1 {
    padding: 15px 10px 0 15px;
    background-color: orange;
}

h1 a:hover {
	color: inherit;
}

h2 {
	padding-top: 20px;
}

nav, footer {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    text-align:center;
    background-color: pink;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    background-color: blue;
    padding: 20px 10px;
}

footer li {
    list-style-type: none;
    display: inline-block;
    background-color: blue;
}

main {
    text-align: left;
    padding: 20px;
    background-color: white;
}

img {
	width: 100%;
	height: 100%;
}

ol {
	margin: 15px 0;
	padding-left:0;
}

figure  {
    border:1px solid lightgrey;
    background-color: orange;
    float: right;
    text-align: left;
    padding: 10px;
	width: 50%;
	height: 50%;
}

figure dt {
    font-weight: bold;
    line-height: 100%;
    margin-top: 20px;
}

figure dd {
	margin: 0 0 10px 0;
	text-indent: 20px;
}

lh {
    display: block;
}

footer {
    clear: both;
    padding: 15px;
}