
body {
	background-image: url("img/linen.png");
	background-repeat: repeat;
    font-family: Verdana, Geneva, sans-serif;
    position: relative;
    padding: 0;
    margin: 0 auto; /* Centering body */
    color: grey;
}

*{
	margin: 0;
	padding: 0;
}
a:active, a:visited, a:link {
	color: inherit;
    decoration: none;
    text-decoration: none;
}

a:hover {
	color: grey;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

header {
    background-color: pink;
}

h1 {
    float: left;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    font-weight: normal;
    font-size: 200%;
    font-family: "Courier New", Courier, monospace;
    padding-left: 20%;
    line-height: 200%;
}

h1 a:hover {
	color: inherit;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

nav li {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 20px 10px;
    text-transform: uppercase;
}

nav li a:hover {
    color: grey;
}

h2 {
	padding-top: 20px;
}

nav, footer {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    text-align:center;
    background-color: pink;
    padding: 0;
    border: none;
}


main {
    text-align: left;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

#cb {
  color: pink;
  font-weight: bold;
  font-size: 1.2em;
}

img {
	width: 100%;
	height: 100%;
}

#main_ol {
	margin: 15px 0;
	padding-left:40px;
	line-height: 150%;
	list-style-position: inside:
}

#main_ol li a:hover {
    color: pink;
}

figure  {
    border:1px solid lightgrey;
    float: right;
    text-align: left;
    padding: 10px;
	width: 40%;
	height: 50%;
}

figure dt {
    font-weight: bold;
    line-height: 100%;
    margin-top: 20px;
}

figure dd {
	margin: 0 0 10px 0;
	text-indent: 20px;
}

.step {
    width: 300px;
    margin: 10px;
}

#method {
    display: flex;
    flex-direction: colum;
    align-items: flex-start;
    counter-reset: item;
    list-style-type: none;
    margin-top: 20px;
}

#method li {
    flex-grow: 1;
    flex-basis: 0;
    list-style-position:inside;
}

#method li:before {
    content: counter(item) "  ";
    counter-increment: item
}

#ingredients {
    margin: 10px;
}

#ingredients li {
    list-style-position: inside;
    list-style-image: url("../img/recipe/check.png");
}

footer {
    clear: both;
    padding: 15px;
    color: white;
}

footer li {
    list-style-type: none;
    display: inline-block;
}
